<h1> Kurslista </h1>

<div>
    <label for="seek"> Filtrera kurser </label>
    <input type="text" id="seek" [(ngModel)]="filterValue" (input)="filter()" placeholder="Filtrera..."> 
</div>
<section class="course-table">
    <table>
        <thead>
            <th> Kurskod </th>
            <th> Kursnamn </th>
            <th> Progression </th>
            <th> Kursplan </th>
        </thead>
        <tbody>
            <tr *ngFor="let course of filteredCourses">
                <td>{{ course.code }}</td>
                <td>{{ course.coursename }}</td>
                <td>{{ course.progression }}</td>
                <td><a [href]="course.syllabus"> LÄNK </a></td>
            </tr>
        </tbody>
    </table>
</section>