<h1> Kurslista </h1>

<div>
    <label for="seek"> Filtrera kurser </label>
    <input type="text" id="seek" [(ngModel)]="filterValue" (input)="filter()" placeholder="Filtrera..."> 
</div>

<div id="text">
    <p> Klicka på kolumnrubrikerna för att sortera! </p>
</div>
<section class="course-table">
    <table id="table">
        <thead>
            <th class="tableHeader" (click)="sortBy('code')"> Kurskod {{ sortArrow('code') }} </th>
            <th class="tableHeader" (click)="sortBy('coursename')"> Kursnamn {{ sortArrow('coursename') }} </th>
            <th class="tableHeader" (click)="sortBy('progression')"> Progression {{ sortArrow('progression') }}</th>
            <th> Kursplan </th>
        </thead>
        <tbody>
            <tr *ngFor="let course of filteredCourses">
                <td>{{ course.code }}</td>
                <td>{{ course.coursename }}</td>
                <td>{{ course.progression }}</td>
                <td><a [href]="course.syllabus"> LÄNK </a></td>
            </tr>
        </tbody>
    </table>
    @if(filteredCourses.length === 0) {
        <p id="error"> Inga kurser matchar sökfrasen! </p>
    }
    <br>
    <br>
</section>