/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
    background-color: rgb(42, 88, 129);
}
